//- Glyphicon
template(name="icon")
	span.glyphicon(class="glyphicon-#{name}",aria-hidden="true")

template(name="icon_primary")
	span.glyphicon.text-primary(class="glyphicon-#{name}",aria-hidden="true")

template(name="icon_info")
	span.glyphicon.text-info(class="glyphicon-#{name}",aria-hidden="true")

template(name="icon_warning")
	span.glyphicon.text-warning(class="glyphicon-#{name}",aria-hidden="true")

template(name="icon_danger")
	span.glyphicon.text-danger(class="glyphicon-#{name}",aria-hidden="true")

template(name="icon_success")
	span.glyphicon.text-success(class="glyphicon-#{name}",aria-hidden="true")
