//- Image mixins
template(name="img_responsive")
	img.img-responsive(src="#{_src}",alt="#{_alt}")

template(name="img_responsive_center")
	img.img-responsive.center-block(src="#{_src}",alt="#{_alt}")

template(name="img_rounded")
	img.img-rounded(src="#{_src}",alt="#{_alt}")

template(name="img_circle")
	img.img-circle(src="#{_src}",alt="#{_alt}")

template(name="img_thumbnail")
	img.img-thumbnail(src="#{_src}",alt="#{_alt}")
